<!DOCTYPE html>
<html>
  	<% include ./partials/head %>
  <body>
  	<% include ./partials/nav %>
    <h1><%= title %></h1>
    <% if (user != '') { %>
    <h4>Welcome to <%= title %> <%= user %>!</h4>
    <p>The date is <%= date %></p>
    <% for(let i=0;i<quests.length;i++) { %>
    <div class='quest-container'>
    	<div class='quest'>
    		<p>Quest: <%= quests[i].todo %></p>
    		<p>Difficulty: <%= quests[i].difficulty %></p>
    		<p>Complete by: <%= quests[i].due %></p>
    	</div>
    </div>
    <% } %>
    <% } else { %>
    <p>Welcome to <%= title %>!</p>
    <p>Login or Signup to begin!</p>
    <% } %>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
  </body>
</html>
