<!DOCTYPE html>
<html>
  	<% include ./partials/head %>
  <body>
  	<% include ./partials/nav %>
    <h1><%= title %></h1>
    <% if (user != '') { %>
    <h4>Welcome to <%= title %> <%= user %>!</h4>
    <p>The date is <%= date %></p>
    <% for(let i=0;i<quests.length;i++) { %>
    <div class='quest-container'>
    	<div class='quest'>
    		<p>Quest: <%= quests[i].todo %></p>
    		<p>Difficulty: <%= quests[i].difficulty %></p>
    		<p>Complete by: <%= quests[i].due %></p>
    	</div>
    </div>
    <div class='form-container'>
    	<h4>Accept a new quest!</h4>
	    <form id='addNewQuest'>
	    	<label>Quest</label>
	    	<input type='text' placeholder='Take out the trash'>
	    	<br>
	    	<label>Importance out of 10</label>
	    	<input type='number' min='0' max='10'>
	    	<br>
	    	<label>Difficulty out of 10</label>
	    	<input type='number' min='0' max='10'>
	    	<br>
	    	<label>Complete by</label>
	    	<input type='date'>
	    	<br> 
	    	at
	    	<input type='time'>
	    	<br>
	    	<button id="submitButton" name="submitButton" class="btn btn-primary">Submit</button>
	    </form>
	</div>
    <% } %>
    <% } else { %>
    <p>Welcome to <%= title %>!</p>
    <p>Login or Signup to begin!</p>
    <% } %>
    <% include ./partials/footer %>
    <% include ./partials/scripts %>
    <script src='javascripts/main.js' type='text/javascript'></script>
  </body>
</html>
